* {
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'IslandMoments';
    src: url('font/KUNSTLER.ttf') format('truetype');
}
$color: blue;
@mixin bordure ($color: red) {
    border: 5px solid $color;
}
@mixin affichage {
    display: flex;
    flex-direction: column;
}
.container {
    background: rgb(213 213 213);
    @include affichage;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    .sous-container {
        background: whitesmoke;
        box-shadow: -5px -2px 3px 8px rgb(149 149 167 / 34%);
        border-radius: 40px;
        @include affichage;
        align-items: flex-start;
        justify-content: flex-end;
        height: 70%;
        width: 50%;
        gap: 8%;
        .grande-bulle {
            @include bordure ($color: transparent);
            height: 34%;
            width: 45%;
            margin-left: 47%;
            border-radius: 30px;
            box-shadow: inset 3px -5px 6px 2px rgb(149, 149, 167);
        }
        .mini-bulle {
            position: absolute;
            @include bordure ($color: transparent);
            border-radius: 50%;
            box-shadow: inset 3px -5px 6px 2px rgb(149, 149, 167);
            cursor: pointer;
            transition: all .5s ease-out;
            &:hover {
                box-shadow: inset -7px 9px 3px 1px rgb(44 48 60);
                scale: (2);
            }
            &:active {
                box-shadow: inset 3px -5px 6px 2px rgb(149, 149, 167);
                scale: (1);
            }
        }
        .mini1 {
            height: 30px;
            width: 30px;
            left: 49%;
            top: 46%;
        }
        .mini2 {
            height: 25px;
            width: 25px;
            left: 47.5%;
            top: 51%;
        }
        .mini3 {
            height: 20px;
            width: 20px;
            left: 45.5%;
            top: 54%;
        }
        .mini4 {
            height: 15px;
            width: 15px;
            left: 43.5%;
            top: 56%;
        }
        img {
            height: 50%;
            width: 60%;
        }
    }
}
p {
    text-align: center;
    line-height: 45px;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 2%;
    padding: 2%;
}
.moi {
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
}
.linke {
    color: $color;
    text-decoration: underline;
    font-weight: 100;
    font-style: italic;
}
.bye {
    position: relative;
    top: 45px;
    font-size: 40px;
}
.github {
    word-spacing: 30px;
    letter-spacing: 5px;
}
.code {
    font-style: italic;
    box-shadow: inset 0px -8px 20px 2px rgb(149 149 167);
    border-radius: 5px;
}